*{padding:0px;margin:0px;list-style-type:none;}
img{width:100%;}
#app{
	box-sizing:border-box;
	padding:20px 30px;
	max-width: 1200px;
	width:100%;
	margin:0px auto;
}
#nav ul li{
	line-height: 50px;
}
#nav ul li:nth-child(1){
	background:#000;
	color:white;
	font-size:20px;
}
#nav ul li span{
	display:inline-block;
	width:200px;
	line-height:50px;
	text-align: center;
}
#list{
	padding:10px 0px;
}
#list ul>li{
	background:#ccc;
	margin:10px 0px;
}
#list ul>li>.info{overflow: auto;zoom:1;}
#list ul>li>.info>li{
	float: left;
	height:196px;
    width:200px;text-align: center;

}
#list ul>li>.info>li:nth-child(1){
	width:50px;
}
#list ul>li>.info>li .entry_input{
	width:40px;
	height:30px;
	text-align: center;
}
#list ul>li>.info>li .com{
	display: inline-block; width:30px;
	border:1px solid #fff;text-align: center;height:30px;
	line-height:30px;margin:5px;
}
#list ul>li>.info>li .pro_img{
	width:80%;
	margin:0px auto;
	height:170px;
	overflow: hidden;
}
#list ul>li>.info>li>p{height:30px;padding:3px;font-weight: 800;}
.check_button{
	display: inline-block;
	width:15px;height:15px;
	border-radius:15px;border:3px solid #fff;}
.checked{background:#f80;}
#bottom{margin-top:10px;background:#555;overflow:auto;zoom:1;padding:15px 30px;color:white;font-weight:900;font-size:20px;}
#bottom .b_left{float:left;}
.level{margin:5px 20px 0px 5px;position: relative;top:5px;}
#bottom .b_right{float:right;}
#pay_section{margin:10px 0px 15px 0px;overflow: auto;zoom:1;padding:10px 300px;}
#pay_section div{
	text-align: center;
	width:120px;height:40px;border-radius:8px;background:#ccc;
	color:white;line-height:40px;font-weight:900;font-size:21px;
}
#pay_section .someone_pay{float:left;}
#pay_section .someone_pay{float:right;}
.pay_checked{background: #f80!important;}